# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# editei na mao este arquivo pois não subia/upload acho q devido algum atributo do arquivo (tipo hidden, mas nao estava hidden, estranho, fica para entender depois) 
# aih fiz copy/paste manual

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
